*{
    box-sizing: border-box;
}

.container{
    background-color: slategray;
    height: 50vh;
}

.box{
    background-color: aliceblue;
    border: 2px solid;
    height: auto;
    width: 15%;
    padding: 25px;
    text-align: center;
}
